[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bump2version = "*"
codecov = "*"
coverage = "*"
fixtures = "*"
flake8 = "*"
green = "*"
mock = "*"
pydocstyle = "*"
pylama = "*"
pylint = "*"
setuptools = "*"
testtools = "*"
twine = "*"
unittest2 = "*"
wheel = "*"
yamllint = "*"

[packages]
